<h1>Instrumentos Músicales</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/instrumentos/violin.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Violín</h5>
            <p class="card-text">Violin  de laudero hecho a la medida de cada músico.</p>
            <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/instrumentos/guitarra.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Guitarra</h5>
                  <p class="card-text">Guitarra de madera tallada por artesanos de la región de Aguascalientes.</p>
                  <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/instrumentos/marimba.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Marimba</h5>
                      <p class="card-text">La marimba es un instrumento de percusión idiófono, que consiste en una serie de láminas de madera de distintos tamaños, dispuestas de mayor a menor, cada una con una altura de sonido diferente, que se golpean con mazos para producir notas musicales. Cada tecla tiene su propia caja de resonancia y el conjunto está fijo en un armazón con patas.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
                  <div class="card">
                        <img src="assets/img/instrumentos/pandero.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pandero</h5>
                          <p class="card-text">La pandereta perteneciente al grupo de los tambores, está formado por uno o dos aros superpuestos, de un centímetro o menos de espesor, provistos de sonajas de latón, hierro o acero templado, y cuyo vano está cubierto por uno de sus cantos con piel muy lisa y estirada.</p>
                          <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                          <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                        </div>
                      </div>

                      <div class="card">
                        <img src="assets/img/instrumentos/flauta.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Flauta</h5>
                          <p class="card-text">Tlapitzalli: flautas hecha de barro, carrizo, hueso o madera. Sus diseños eran múltiples e incluían algunos con rasgos zoomorfos o antropomorfos. En tanto que unas eran de forma tubular otras eran globulares o sea ocarinas. Su embocadura era alargada y las había de tubos dobles o triples y aun múltiples.</p>
                          <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                          <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                        </div>
                      </div>

                      <div class="card">
                        <img src="assets/img/instrumentos/maracas.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Maracas</h5>
                          <p class="card-text">Las maracas son un instrumento idiófono y de oscilación constituido por una parte esférica hueca sostenida por un mango que la atraviesa, o está adherida a ella. En su interior se le llena con pequeños elementos percusivos, como piedras pequeñas o semillas, pedazos de vidrio, pedazos pequeños de metal, arroz etc.</p>
                          <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                          <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                        </div>
                      </div>
</div>