<h1>Instrumentos Músicales</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/instrumentos/violin.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Violín</h5>
            <p class="card-text">Violin  de madera fina</p>
            <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/instrumentos/guitarra.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Guitarra</h5>
                  <p class="card-text">Guitarra de madera tallada</p>
                  <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/instrumentos/marimba.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Marimba</h5>
                      <p class="card-text">Marimba veracruzana</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
                  <div class="card">
                        <img src="assets/img/instrumentos/tambor.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Añadir a lista de deseos</small></p>
                          <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                        </div>
                      </div>
</div>