<!DOCTYPE html>
<html lang="en">


<body>



  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Nuska</h1>
        <h2 class="masthead-subheading mb-0">Red de Artesanos</h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Conoce más</a>
      </div>
    </div>
    
   
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="assets/img/artesanos/aboutus2.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">¿Qué es Nuska?</h2>
            <p class="text-justify"> 
              “Nuska: Red Artesanal” es una plataforma web que tiene como objetivo promover el comercio justo entre los artesanos mexicanos y los consumidores. Nuska difunde el trabajo de los artesanos a través de videos, historias, entrevistas etc, con el objetivo de sensibilizar a la población mexicana acerca del valor cultural que representan las artesanías en nuestro país y la importancia de preservar nuestra identidad. Nuska permite crear un vinculo entre los artesanos y los consumidores para que a través de esta plataforma puedan promocionar sus productos.
             </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="assets/img/artesanos/aboutus1.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class= "display-4">Problemática</h2>
            <p class="text-justify">•	Falta de acceso del sector artesanal a las herramientas tecnológicas hoy disponibles en el mundo globalizado para apoyar la difusión y comercialización de sus productos.<br>•	Falta de recursos económicos para promover sus productos en distintas zonas geográficas.<br>•	Penetración de los denominados souvenirs y productos manufacturados con alta tecnología y de forma masiva, que se ofrecen bajo el título de artesanías.<br>•	Apropiaciones ilícitas de diseños y obras de los auténticos creadores.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="assets/img/artesanos/aboutus3.jpeg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Objetivos</h2>
            <p class="text-justify">•	Crear una red nacional de artesanos para fomentar la comunicación mutua entre ellos y posibles oportunidades de mercado.<br>•	Suministrar información sobre la historia del artesano, el proceso de producción de la artesanía; con el fin de crear conciencia en el consumidor sobre el valor cultural y el trasfondo que posee cada producto artesanal.<br>•	Sembrar conciencia y sentido de pertenecía a las raíces mexicanas a través de la plataforma.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">¿A caso en vano venimos a vivir, a brotar sobre la tierra?<br> Dejemos al menos cantos<br>Dejemos al menos flores<br>Nezahualcóyotl</p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>
