<h1>Textiles</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/textiles/blusa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blusa mexicana</h5>
            <p class="card-text">Blusa con bordado artesanal hecho a mano</p>
            <p class="card-text"><small class="text-muted">Ultima actualización 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/textiles/sarapes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sarape</h5>
                  <p class="card-text">Sarape, prenda de vestir masculina que porta el hombre de campo para cubrirse de la lluvia y el frío, es un atuendo considerado mexicano proveniente de la ciudad de Saltillo y que semeja al poncho utilizado en la región andina.</p>
                  <p class="card-text"><small class="text-muted">Ultima actualización 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/textiles/blusas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Blusas</h5>
                      <p class="card-text">El Bordado es un arte que consiste en la ornamentación por medio de hebras textiles, de una superficie flexible, generalmente una tela.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualización 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                  <div class="card">
                    <img src="assets/img/textiles/deshilado.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mantel</h5>
                      <p class="card-text">Los deshilados son una artesanía cuya técnica es herencia de las pobladoras hispánicas, quienes se inspiraban en los antiguos deshilados de Flandes y Venecia.

                        Las mujeres indígenas y mestizas adoptaron esta técnica como medio para representar el mundo que las rodeaba: pájaros, flores, frutas y gran variedad de diseños fueron plasmados en los deshilados.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualización 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                  <div class="card">
                    <img src="assets/img/textiles/rebozo2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rebozo</h5>
                      <p class="card-text">El rebozo es una prenda de vestir femenina usada en México, Centroamérica y algunas zonas de Sur América. De forma rectangular y de una sola pieza, los rebozos miden entre 1.5 m hasta 3 m de longitud, y pueden ser hechos de algodón, lana, seda o articela. Pueden ser usados como bufandas o a manera de chales.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualización 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
    
</div>