<h1>Textiles</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/textiles/blusa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blusa mexicana</h5>
            <p class="card-text">Blusa con bordado artesanal</p>
            <p class="card-text"><small class="text-muted">Ultima actualización 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/textiles/mantel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mantel</h5>
                  <p class="card-text">Mantel bordado</p>
                  <p class="card-text"><small class="text-muted">Ultima actualización 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/textiles/rebozo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rebozo</h5>
                      <p class="card-text">Rebozo fino de Santa María, diferentes colores</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
    
</div>