<h1>Textiles</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/ceramica/ceramica1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cazuela</h5>
            <p class="card-text">Cazuela de barro</p>
            <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/ceramica/ceramica2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cazuela</h5>
                  <p class="card-text">Cazuela de barro de diferentes colores</p>
                  <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/ceramica/ceramica3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cazuela</h5>
                      <p class="card-text">Cazuela de barro cocido</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                  <div class="card">
                    <img src="assets/img/ceramica/arbol.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Árbol de la vida</h5>
                      <p class="card-text">Un árbol de la vida es una escultura en barro fabricada comúnmente de forma artesanal en el centro de México, principalmente en el municipio de Metepec, Estado de México.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                
                  <div class="card">
                    <img src="assets/img/ceramica/platos.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Platos</h5>
                      <p class="card-text">La cerámica y la alfarería en México tiene sus raíces en el periodo precolombino, con las primeras culturas y civilizaciones de Mesoamérica. Con alguna excepción, las vasijas prehispánicas no estaban vidriadas, sino pulidas y pintadas con engobes. El torno de alfarero era desconocido; las piezas estaban realizadas por medio de moldes, colombín y otros métodos.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
    
</div>