<div class="col-12 w-100 h-100">
    <div class="row no-gutters justify-content-lg-between">
        <span class="col-6" style="font-size: 2.5em;">Registro de Artesanos</span>
        <button type="button" class="col-3 btn btn-primary  ">Registrase</button>
    </div>
    <span class="row no-gutters ml-2">Nombre de el artesano:</span>
    <input type="text" class="form-control row" placeholder="Juan Antonio" maxlength="45">
    <span class="row no-gutters ml-2">Primer Apellido:</span>
    <input type="text" class="form-control row" placeholder="Rodriguez" maxlength="45">
    <span class="row no-gutters ml-2">Segundo Apellido:</span>
    <input type="text" class="form-control row" placeholder="Gonzales" maxlength="45">
    <div class="row no-gutters">
        <div class="col-md-6 col-sm-12 pr-2">
                <span class="row no-gutters ml-2">Nombre de usuario:</span>
                <input type="text" class="form-control row" placeholder="juan9707" maxlength="45">
                <span class="row no-gutters ml-2">Correo electronico:</span>
                <input type="text" class="form-control row" placeholder="jx@gmail.com" maxlength="45">
        </div>
        <div class="col-md-6 col-sm-12 pl-2">
                <span class="row no-gutters ml-2">Contraseña:</span>
                <input type="password" class="form-control row" placeholder="******" maxlength="45">
                <span class="row no-gutters ml-2">Reescriba su contraseña:</span>
                <input type="password" class="form-control row" placeholder="" maxlength="45">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-4 pr-2">
                <span class="row no-gutters ml-2">Estado:</span>
                <select class="form-control row" placeholder="--" maxlength="45"></select>
        </div>
        <div class="col-4 px-2">
                <span class="row no-gutters ml-2">Municipio:</span>
                <input type="text" class="form-control row" placeholder="--" maxlength="45">
        </div>
        <div class="col-4 pl-2">
                <span class="row no-gutters ml-2">Localidad/Colonia:</span>
                <input type="text" class="form-control row" placeholder="--" maxlength="45">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-2 pr-2">
                <span class="row no-gutters ml-2">Calle:</span>
                <select class="form-control row" placeholder="--" maxlength="45"></select>
        </div>
        <div class="col-2 px-2">
                <span class="row no-gutters ml-2">Numero:</span>
                <input type="text" class="form-control row" placeholder="--" maxlength="45">
        </div>
        <div class="col-8 pl-2">
            <span class="row no-gutters ml-2">Infomracion adicional:</span>
            <input type="text" class="form-control row" placeholder="--" maxlength="45">
    </div>
    <span class="row no-gutters ml-2">Cuentanos algo sobre ti:</span>
    <textarea class="row form-control" rows="1" name="info" placeholder="..." style="resize: none;"></textarea>
</div>
