<!-- Theme CSS -->

<body id="page-top" style="height: 100vh;" class="m-0 p-0">
  <header id="carouselExampleFade" class="masthead carousel slide carousel-fade h-75 p-0 m-0" data-ride="carousel">
    <div class="carousel-inner h-100 p-0 m-0">
      <div class="carousel-item active bg-danger h-100">
        <img src="assets/img/asdf-1.jpg" class="d-block  w-100 h-100">

      </div>
      <div class="carousel-item bg-info h-100">
        <img src="assets/img/asdf-2.jpg" class="d-block w-100 h-100">

      </div>
      <div class="carousel-item bg-secondary h-100">
        <img src="assets/img/asdf-6.jpg" class="d-block  w-100 h-100">

      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </header>
  <!-- Masthead ->
  <-- <header class="masthead text-white text-center w-100 p-0 m-0 " style="background-color:yellow;">
    <div class="container d-flex align-items-center flex-column">

      <-- Masthead Avatar Image ->
      <img class="w-100 h-75" src="assets/img/Logo.png" >

      <-- Icon Divider ->
      
    </div>
  </header> -->
  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <h2 class="page-section-heading text-center text-secondary mb-0">Ramas de la Artesanía</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <span class="fas fa-plus fa-3x" style="font-size: 2em;">Juguetes</span>
                </div>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/iconosHome/canicas.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 2 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <span class="fas fa-plus fa-3x" style="font-size: 2em;">Instrumentos musicales</span>
                </div>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/iconosHome/espanol-guitarra.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 3 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <span class="fas fa-plus fa-3x" style="font-size: 2em;">Joyeria</span>
                </div>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/iconosHome/pendientes.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 4 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <span class="fas fa-plus fa-3x" style="font-size: 2em;">Textiles</span>
                </div>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/iconosHome/vestido.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 5 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <span class="fas fa-plus fa-3x" style="font-size: 2em;">Muebles</span>
                </div>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/iconosHome/alacena.png" alt="">
          </div>
        </div>

        <!-- Portfolio Item 6 -->
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <span class="fas fa-plus fa-3x" style="font-size: 2em;">Ceramica</span>
                </div>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/iconosHome/maceta.png" alt="">
          </div>
        </div>

      </div>

    </div>
  </section>


</body>