<h1>Joyeria</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/joyeria/aretes.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Aretes</h5>
            <p class="card-text">Aretes de filígrana propios del Istmo Tehuantepec Oaxaca, ligeros al portar.</p>
            <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/joyeria/aretes2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aretes</h5>
                  <p class="card-text">Aretes de filígrana fina, con diseño exclusivo y piezas únicas.</p>
                  <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/joyeria/collar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Collar wixárika</h5>
                      <p class="card-text">En la zona meridional de la Sierra Madre Occidental se encuentra la región conocida como el Gran Nayar. Ahí, a ambos lados del cañón del Río Chapalagana, entre desiertos, montañas y valles que unen los estados de Jalisco, Nayarit, Durango y Zacatecas, habitan los huicholes, uno de los grupos indígenas más importantes de México, llamados por ellos mismos wixaritari, o pueblo wixárika.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

              <div class="card">
                    <img src="assets/img/joyeria/aretesTxco.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Aretes de plata</h5>
                      <p class="card-text">Taxco es reconocido a nivel nacional por la producción de plata, contamos con la certificación que avala la calidad de nuestros productos de plata, otorgada por el Consejo Regulador de la Plata (CRP) de Taxco, basado en la Norma Oficial Mexicana NOM-033-SCFI-1994. </p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                  <div class="card">
                    <img src="assets/img/joyeria/collarCalvillo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Collar de semillas naturales</h5>
                      <p class="card-text">En la ciudad de Calvillo se elaboran collares que se adaptan al tamaño deseado, 100% hechos con semillas y fibras naturales. </p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                  <div class="card">
                    <img src="assets/img/joyeria/collarjade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Collar de jade</h5>
                      <p class="card-text">El jade es una roca ornamental. El término jade es aplicado a dos rocas metamórficas distintas compuestas de diferentes minerales silicatados, desde Chiapas se presentan diversos conjuntos para adornar la belleza femenina.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
    
</div>