<h1>Juguetes</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/juguetes/yoyo.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Yoyo</h5>
            <p class="card-text">Formado por un disco de madera, con una ranura profunda en el centro de todo el borde, alrededor de la cual se enrolla un cordón que, anudado a un dedo, se hace subir y bajar alternativamente.</p>
            <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/juguetes/tablas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tablas</h5>
                  <p class="card-text">Tablillas de madera pintadas con colores llamativos para el entretenimiento infantil, juego tradicional mexicano.</p>
                  <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/juguetes/tamborin.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tamborin</h5>
                      <p class="card-text">Tamborin mexicano, hecho con materiales ecológicos. Juguete tradicional para bebés y niños.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                  <div class="card">
                    <img src="assets/img/juguetes/balero.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Balero</h5>
                      <p class="card-text">Juguete tradicional mexicano
                        Es un juguete de malabares compuesto de un tallo, generalmente de madera, unido por una cuerda a una bola horadada, por uno o varios agujeros de un diámetro ajustado al tallo. El objetivo del juego es hacer incrustar un eje delgado del tallo al hueco del mazo.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>

                  <div class="card">
                    <img src="assets/img/juguetes/matraca.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Matraca</h5>
                      <p class="card-text">La matraca es un juguete que generalmente se usa para animar eventos ya que es un instrumento que produce mucho ruido con su movimiento.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
    
</div>