<h1>Muebles</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/muebles/comedor1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Comedor</h5>
            <p class="card-text">Comedor de 4 piezas tallado con madera fina de la región de la Sierra Fría</p>
            <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/muebles/comedor2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cava</h5>
                  <p class="card-text">Cava tallada a mano por carpinteros de Jesus María.</p>
                  <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
  
                  <div class="card">
                    <img src="assets/img/muebles/buro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mueble</h5>
                      <p class="card-text">Mueble Mexicano 
                        Elaborado con Madera maciza, tallado y terminado laqueado.</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
    
</div>