<h1>Textiles</h1>
<hr>

<div class="card-deck">
        <div class="card">
          <img src="assets/img/muebles/comedor1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Comedor</h5>
            <p class="card-text">Comedor de 4 piezas</p>
            <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
            <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
          </div>
        </div>

        <div class="card">
                <img src="assets/img/muebles/comedor2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Buro</h5>
                  <p class="card-text">Buro tamaño mediano</p>
                  <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                  <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                </div>
              </div>
              <div class="card">
                    <img src="assets/img/muebles/comedor3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Stand</h5>
                      <p class="card-text">Stand realizado a mano</p>
                      <p class="card-text"><small class="text-muted">Ultima actualizacón 27/08/19</small></p>
                      <button type="button" class="btn btn-success">Añadir a lista de deseos</button>
                    </div>
                  </div>
    
</div>