<h1>Procesos de produccion de las artesanías</h1>
<hr>
<div class="row">
    <!-- *ngFor="let heroe of heroes; let i = index" -->
    <div class="col-4 p-3" *ngFor="let data of procesos;let i = index">
        <div class="row no-gutters">
            <img [src]="data.Image" (click)="openVideoModal(i)" style="width: 100%;height: 180px;">
        </div>
        <span class="row no-gutters"><b>{{data.Titulo}}</b></span>
        <!--<span class="row no-gutters"><b>Autor:</b>{{data.Autor}}</span>-->
        <span class="row no-gutters"><b>Artesano:</b>{{data.Artesano}}</span>
        <span class="row no-gutters"><b>Duracion:</b>{{data.Duracion}}</span>
        <span class="row no-gutters"><b>Descripcion:</b></span>
        <div class="row no-gutters"><span>{{data.Descripcion}}</span></div>
    </div>
</div>